@font-face {
	font-family: 'finalfrontier';
	src: url('/fonts/finalfrontier.ttf');
}

@font-face {
	font-family: 'sffourche';
	src: url('/fonts/sffourche.ttf');
}

body {
   background: url('/images/green_cup.png') repeat;
   font-family: Verbana, sans-serif;
   <!--font-family: Georgia, "Times New Roman",
			Times, serif;
	<!--font-size: small;
	line-height: 1.25em; 
}

h1,h2 {
	font-family: finalfrontier;
}

a {
	position: relative;
	z-index: 10;
	text-decoration: none;
	color: #3B6EBF;
}

a:hover {
	text-decoration: underline;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#wrap {
	margin: auto;
	width: 800px;
	background: #fff url('/images/nice_snow.png');
	background-repeat: repeat-y;
	border: groove SteelBlue;
}

#header {
	margin: 20px auto;
	width: 800px;
	height: 105px;
	background: SteelBlue url('/images/bt-head-1.jpeg');
	opacity: 1;
	border: groove SteelBlue;
	<!--border-bottom: none;
	line-height: 1em;
	box-shadow: 10px 10px 5px #888888;
}

#headbg {
	margin-top: -20px;
	position: inherit;
	height: inherit;
	background-color: SteelBlue;
	opacity: 0.8;
}

#header h1 { padding-left: 20px; padding-top: 22px;  font-size: 30px; color: #fff; }
#header h1 a { font-size: 22px; color: #FFF; text-decoration: none; }
#header h2 { padding-right: 20px; padding-bottom: 4px; font-size: 17px; color: #fff; }

#nav-bar { 
	margin: 0 auto;
	width: 800px;
   background: url('/images/nice_snow.png'); 
	border: groove SteelBlue; 
	<!--border-top: none;
	box-shadow: 10px 10px 5px #888888;
}

#nav-bar a {
	text-align: center;
	font-family: finalfrontier;
	font-weight: bold;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
	display: inline-block;
	<!--border-left: 1px solid SteelBlue;
}

#nav-bar a:hover {
	text-decoration: none;
	background-color: SteelBlue;
	opacity: 0.8;
	color: #fff;
}

#arrow-nav {
	position: fixed;
	top: 300px;
	left: 50%;
	margin-left: -475px;
	width: 950px;
	<!--text-align: center;
	font-family: finalfrontier;	
}

#arrow-nav a:hover {
	opacity: 1.0;
}

.arrow-navl {
	position: inherit;
	float: left;
	border: none;
}

.arrow-navr {
	position: inherit;
	float: right;
	border: none;
}

#post-main {
	text-align: center;
}

#content {
	margin: 20px auto;
	width: 760px;
	background: #fff url('/images/nice_snow.png');
	padding: 20px;
	text-align: justify;
	color: DarkSlateGray;
	font-size: 13px;
	border: groove SteelBlue;
	border-bottom: none;
	box-shadow: 10px 10px 5px #888888;
}

#content h2 { width: 50%; font-size: 17px; color: DarkSlateGray; border-bottom: solid SteelBlue; }

#content img {
	float: right;
	width: 300px;
	border: groove SteelBlue;
	padding: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#side-bar {
	float: right;
	width: 300px;
	background: #fff url('/images/green_cup.png');
	border: groove SteelBlue;
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#side-bar ul {
	<!--list-style-image: url('/images/eicon2.ico');
}

#content ul {
	list-style-type: none;
}

#footer {
	margin: -20px auto 50px;
	width: 800px;
	position: relative;
	<!--padding-top: 10px;
	font-family: finalfrontier;
	<!--text-indent: 20px;
	<!--text-align: center;
	<!--color: #fff;
	height: 30px;
	<!--font-size: small;
	background: SteelBlue;
	opacity: 0.9;
	border: groove SteelBlue;
	border-top: none;
	box-shadow: 10px 10px 5px #888888;
}

#footer p { padding-left: 20px; padding-right: 20px; font-size: small; color: #fff; }
#footer a { color: #fff; }


