@media all and (min-width: 500px) and (max-width: 899px) {

#nav-bar,#etitle,#to-top,#side-bar img { display: none; }
	
#banner { background-image: url('/images/teton-small.jpg'); }
#main { width: 90%; left: 5%; }
#content { width: 90%; }

#nav-small { 
	position: fixed; 
	display: block;
	top: 20px; 
	left: 10px; 
	background: rgba(47,79,79,0.9);
	line-height: 0;
	width: 30px; 
	padding: 5px;
	border-radius: 5px;
}
	
#nav-smallhid {
	position: fixed;
	display: none;
	top: 80px;
	left: 0;
	background: rgba(47,79,79,1);
	padding-right: 5px;
	text-align: left;
	color: SteelBlue;
	font-family: glamB;
	line-height: 1.25em;
	text-decoration: none;
	font-size: 1.25em;
	border-radius: 0 8px 8px 0;
	z-index: 15;
}

.show { max-height: 250px; max-width: 100px; }
.hide { height: 20px; width: 5%; }
 
#nav-embiggen {
	position: relative;
	width: inherit;
}
#nav-embiggen a {
	display: table;
	width: 100%;
	<!--padding-left: 2%;
	color: SteelBlue;
	text-decoration: none;
	text-shadow: none;
}
#nav-embiggen a:hover { color: DarkSlateGray; }

}
