---
layout: lamps
title: erik hoversten
subheading: home
category: esite
author: erik hoversten
date: 2014-09-27 01:00
tabs: [bio,philosophy,physicalia,resume]
---

<div class="bunch">
	<ul class="pagenav">
	{% for item in page.tabs %}
    <li class="internal{% if forloop.first %} active{% endif %}"><a href="#" id="{{item}}" class="{{item}}">{{item}}</a></li>
  {% endfor %}
	</ul>
{% for item in page.tabs %}
	<div id="{{item}}-hid" class="area {{item}}{% unless forloop.first %} hid{% endunless %}">
	  {% include {{item}}.html %}
  </div>
{% endfor %}
</div>
