<!DOCTYPE html>
<html>

<head>
      	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
      	<title>{{ page.subheading }} | {{ page.author }}</title>
	<link rel="stylesheet" href="/css/ewob-main.css">
	<link rel="shortcut icon" href="/images/eicon2.ico">

  <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascript/scroll.js"></script>
  <script type="text/javascript" src="/javascript/open.js"></script>

  {% if page.head %}
    {% include {{ page.head | append: "-head.html" }} %}
  {% endif %}
</head>

	<a name="top"></a>

<body>
