<!DOCTYPE html>
<html>

<head>
      	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
      	<title>{{ page.subheading }} | {{ page.author }}</title>
	<link rel="stylesheet" href="/css/ewob-main.css">
	<link rel="stylesheet" href="/css/ewob-tiny.css">
	<link rel="stylesheet" href="/css/ewob-small.css">
	<link rel="stylesheet" href="/css/ewob-large.css">
	<link rel="stylesheet" href="/css/ewob-arrows.css">
	<link rel="stylesheet" href="/css/ewob-lightbox.css">
	<link rel="stylesheet" href="/css/latex.css">
	<link rel="shortcut icon" href="/images/eicon2.ico" >
        <script type="text/javascript" src="/javascript/jquery-1.11.2.js"></script>
        
	<script type="text/javascript" src="/javascript/toggleIt.js"></script>
</head>
	
	<a name="top"></a>

<body>
