<ul>
<li>Archimedes' Screw

<p>Eureka! The best ideas have a penchant of arising spontaneously when you least expect them. It is said that Archimedes discovered the relation of displaced water the volume of the object floating in it while taking a bath. Another of Archimedes' water-related ideas was a way of trasporting water uphill by means of a spiral structure; we call his subsequent invention "Archimedes' Screw".</p>

<p>This lamp evokes surprise inspiration, with light emerging from an unexpected source. The design harkens to Archimedes' wonderous water-related discoveries.</p>
</li>

<li>Let There be Light?

<p>Why is there something rather than nothing? Perhaps we our our existence, as well as that of the entire cosmos, to the creative act of super-powerful being. Or maybe what we take to be our universe is just one among innumerable others.

<p>This lamp represents the epistemic position of humanity, existing upon a small globe in the midst of the vast cosmos, the origin of which is hidden from us. To reach outside of that box and see what it all rests upon is ultimate metaphysical yen.</p>
</li>

<li>Hume's Missing Shade

<p>Is it possible to form an idea of something of which you have had no experience whatsoever? As and <i>empiricist</i>, David Hume thought that all ideas have their ultimate origin in experience. But he acknowledged that it is conceivable that one could form an idea of a particular shade of blue that one has never seen by extrapolating it from experience of other shades that resemble it. Is this a genuinely creative act of the mind?</p>

<p>This lamp mimic's Hume's missing shade of blue. An idea emerges, apparently suspended by its own power.</p>
</li>

</ul> 
