<!-- Styles -->
<link href="https://cdn.rawgit.com/ehovers10/ehovers10.github.io/master/research/tools/css/latex.css" media="screen" rel="stylesheet">
<link href="https://cdn.rawgit.com/ehovers10/ehovers10.github.io/master/research/tools/fitch/fitch.css" media="screen" rel="stylesheet">
<link href="https://cdn.rawgit.com/ehovers10/ehovers10.github.io/master/research/tools/truth/truth.css" media="screen" rel="stylesheet">
<link href="https://cdn.rawgit.com/ehovers10/ehovers10.github.io/master/research/tools/pla/pla.css" media="screen" rel="stylesheet">

<!-- Scripts -->
<script src="https://cdn.rawgit.com/ehovers10/ehovers10.github.io/master/research/tools/js/markup.js"></script>
<script src="https://cdn.rawgit.com/ehovers10/ehovers10.github.io/master/research/tools/fitch/fitch.js"></script>
<script src="https://cdn.rawgit.com/ehovers10/ehovers10.github.io/master/research/tools/truth/truth.js"></script>
