<div id="nav-small" class="open">
	<a href="#" title="click to show" onclick="return false;" ontouchstart="return false;"><img src="/images/menu.svg"></a>
		
<div id="nav-smallhid">

{% capture cat %}{% if page.category %}{{page.category}}{% else %}esite{% endif %}{% endcapture %}
		
{% assign enav = site.pages | where: "category" , cat | sort: 'date' %}
{% assign num = enav.size | minus: 1 %}
<ul>		
{% if cat == 'esite' %}
	<li><a href="/">home</a></li>
	{% for i in (1...num) %}
		<li><a href="/{{enav[i].subheading | slugify}}/">{{enav[i].subheading}}</a></li>
	{% endfor %}
{% else %}
	{% if page.category %}
		<li><a href="/">home</a></li>
		{% if page.parent %}
			<li><a href="/{{page.parent | slugify}}/">{{page.parent}}</a></li>
		{% endif %}
		<p>{{page.subheading}}</p>
		{% for i in (0...num) %}
			<li><a href="/{{enav[i].parent}}/{{enav[i].subheading | slugify}}/{{enav[i].title | slugify}}/">{{enav[i].handle}}</a></li>
		{% endfor %}
	{% endif %}
{% endif %}
</ul>
</div>
</div>
