<!-- Site navigation menu -->
	<div id="nav-bar">
		{% capture cat %}{% if page.category %}{{page.category}}{% else %}esite{% endif %}{% endcapture %}
		
		{% assign current = page.url %}
		
		{% assign enav = site.pages | where: "category" , cat | sort: 'date' %}
		
		{% if page.category == home %}
			<a class="active" href="/">home</a>
		{% else %}
			<a href="/">home</a>
		{% endif %}
		
		{% for page in enav %}
				{% if page.url == current %}
					<a class="active" href="/{{page.subheading}}/">{{page.subheading}}</a>
				{% else %}
					<a href="/{{page.subheading}}/">{{page.subheading}}</a>
				{% endif %}
		{% endfor %}
		
		<div class="alignright">{% include ddg-search.html %}</div>
	</div>
	
<!-- Arrow navigation -->
	{% include arrow-nav.html %}