<h2><a href="http://mountaincompost.com/">Mountain Compost</a></h2>
<p>A website dedicated to community-scale composting and geared specifically to mountain environments. It includes a set of data visualization tools (compost calculator, tempurature tracking, and odor analysis), research resources list, and a draft proposal for implementing a mid-scale composting organization.</p>

<h2><a href="http://lettherebe.lighting/">Let There Be Lighting</a></h2>
<p>A series of steam-punk style lamps that I built in Brooklyn, NY. Each model is inspired by a philosophical figure or idea.</p>
