<!--Model 001-->
<div id="pop-model001a" class="lightbox">

	<div class="popbox">
	
	<div class="poptitle">
	<h3>Archimedes' Screw</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/archimedes.jpg" alt="" title="Archimedes' Screw">
	</div></div>
</div>

<div id="pop-model001b" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>Archimedes' Screw</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model001b.jpg" alt="" title="model 001">
</div></div></div>

<!--Model 002-->
<div id="pop-model002a" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>Let There be Light?</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model002a.jpg" alt="" title="Let There be Light?">
</div></div></div>

<div id="pop-model002b" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>Let there be light?</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model002b.jpg" alt="" title="model 002">
</div></div></div>

<!--Model 003-->
<div id="pop-model003a" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>Hume's Missing Shade</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model003a.jpg" alt="" title="Hume's Missing Shade">
</div></div></div>

<div id="pop-model003b" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>Hume's Missing Shade</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model003b.jpg" alt="" title="model 002">
</div></div></div>

<!--Model 004-->
<div id="pop-model004" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 004</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/cmdr-cody.jpg" alt="" title="model 004">
</div></div></div>
