<!--HP-->
<div id="pop-hp" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>highland park</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/hp.jpg" alt="" title="highland park">
	</div></div>
</div>

<!--Gus-->
<div id="pop-gus" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>happy dogs</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/gusandmae.jpg" alt="" title="mae and gus">
	</div></div>
</div>

<!--Paint-->
<div id="pop-paint" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>indian paintbrush</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/indian-paintbrush.jpg" alt="" title="indian paintbrush">
	</div></div>
</div>

<!--Kerney-->
<div id="pop-kerney" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>lake kearney</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/kerney.jpg" alt="" title="lake kearney">
	</div></div>
</div>

<!--Loomis-->
<div id="pop-loomis" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>unknown location</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/loomis.jpg" alt="" title="loomis">
	</div></div>
</div>

<!--Misty-->
<div id="pop-misty" class="lightbox">

	<div class="popbox">
	
	<div class="poptitle">
	<h3>misty scene</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/misty.jpg" alt="" title="misty mount">
	</div></div>
</div>

<!--Moose-->
<div id="pop-moose" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>moose</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/moose.jpg" alt="" title="moose">
	</div></div>
</div>

<!--Water-->
<div id="pop-water" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>water walk</h3>
	<a href="#nature"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain hpic">
		<img src="/images/pics/water-walk.jpg" alt="" title="water walk">
	</div></div>
</div>
