<!--Model 001-->
<div id="pop-model001a" class="lightbox">

	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 001</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model001a.jpg" alt="" title="model 001">
	</div></div>
</div>

<div id="pop-model001b" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 001</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model001b.jpg" alt="" title="model 001">
</div></div></div>

<!--Model 002-->
<div id="pop-model002a" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 002</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model002a.jpg" alt="" title="model 002">
</div></div></div>

<div id="pop-model002b" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 002</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model002b.jpg" alt="" title="model 002">
</div></div></div>

<!--Model 003-->
<div id="pop-model003a" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 003</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model003a.jpg" alt="" title="model 003">
</div></div></div>

<div id="pop-model003b" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 003</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/lamp-model003b.jpg" alt="" title="model 002">
</div></div></div>

<!--Model 004-->
<div id="pop-model004" class="lightbox">
	
	<div class="popbox">
	
	<div class="poptitle">
	<h3>model 004</h3>
	<a href="#lights"><img src="/images/close.png" title="close"></a>
	</div>
	<div style="clear: both;"></div>
	
	<div class="popmain vpic">
		<img src="/images/pics/cmdr-cody.jpg" alt="" title="model 004">
</div></div></div>
