<!--HP-->
<div id="pop-hp" class="lightbox">
	<a href="#nature"><img class="popclose" src="/images/close.png" title="close"></a>	
	<div class="popbox pic">
	<h3>highland park</h3>
	<div class="popmain">
		<img src="/images/pics/hp.jpg" alt="" title="highland park">
	</div></div>
</div>

<!--Gus-->
<div id="pop-gus" class="lightbox">
	<a href="#nature"><img class="popclose" src="/images/close.png" title="close"></a>	
	<div class="popbox pic">
	<h3>happy dogs</h3>
	<div class="popmain">
		<img src="/images/pics/gusandmae.jpg" alt="" title="model 004">
	</div></div>
</div>

<!--Paint-->
<div id="pop-paint" class="lightbox">
	<a href="#nature"><img class="popclose" src="/images/close.png" title="close"></a>	
	<div class="popbox pic">
	<h3>indian paintbrush</h3>
	<div class="popmain">
		<img src="/images/pics/indian-paintbrush.jpg" alt="" title="model 004">
	</div></div>
</div>

<!--Kerney-->
<div id="pop-kerney" class="lightbox">
	<a href="#nature"><img class="popclose" src="/images/close.png" title="close"></a>	
	<div class="popbox pic">
	<h3>lake kearney</h3>
	<div class="popmain">
		<img src="/images/pics/kerney.jpg" alt="" title="model 004">
	</div></div>
</div>

<!--Loomis-->
<div id="pop-loomis" class="lightbox">
	<a href="#nature"><img class="popclose" src="/images/close.png" title="close"></a>	
	<div class="popbox pic">
	<h3>unknown location</h3>
	<div class="popmain">
		<img src="/images/pics/loomis.jpg" alt="" title="model 004">
	</div></div>
</div>

<!--Misty-->
<div id="pop-misty" class="lightbox">
	<a href="#nature"><img class="popclose" src="/images/close.png" title="close"></a>	
	<div class="popbox pic">
	<h3>misty scene</h3>
	<div class="popmain">
		<img src="/images/pics/misty.jpg" alt="" title="model 004">
	</div></div>
</div>

<!--Moose-->
<div id="pop-moose" class="lightbox">
	<a href="#nature"><img class="popclose" src="/images/close.png" title="close"></a>	
	<div class="popbox pic">
	<h3>moose</h3>
	<div class="popmain">
		<img src="/images/pics/moose.jpg" alt="" title="model 004">
	</div></div>
</div>