<h2>major projects</h2><a name="papers"></a>

<ul>
  <li id="title_do">Discourse as collaborative inquiry (<a href="http://dci.erikhoversten.org">html</a>) (<a href="#" id="dciabs" class="open">abstract</a>)
  <div id="dciabs-hid" class="hid">This project explores the importance of speculation and dispute in inquiry. I contend that conversation commonly realizes a collaborative inquiry, which is to say that successful contribution to the discourse requires the efforts of multiple parties working in concert, not just serially. The goal of the project is to explain, motivate, and provide a model of implementation for this idea, what I call collaborative discourse dynamics. A notable feature of the model is that it gives <em>conjectures</em> pride of place alongside conversational moves such as <em>assertions</em> and <em>questions</em>.</div></li>
  <li>Disagreement in Context (<a href="/research/disagreement-context-full.pdf">pdf</a>) (<a href="#" id="mauwabs" class="open">abstract</a>)
    <div id="mauwabs-hid" class="hid">Semantic relativism is the thesis that propositions possess a truth value only relative to some non-standard parameter of evaluation such as times, standards, or judges. In this essay, I examine the evidence for judge-relativism provided by discourses involving disagreement over matters of taste. Intuitively, these
discourses involve faultless disagreement despite having a point of genuine conflict between them, both parties involved make correct assertions. An analysis of the semantic significance of these discourses reveals a number of criteria that an adequate proposal for the semantics of predicates of personal taste must meet. While relativism offers one adequate proposal, I argue that the semantic contextualist can also adequately account for the intuitions elicited by these discourses. According to the contextualist, the disputants semantically express true propositions that do not conflict. Their disagreement, however, stems from conflicting commitments that arise from certain pragmatic effects of their utterances in the conversation.
</div></li>
</ul>

<h2>research tools</h2><a name="biblio"></a>

<ul>
  <li>General philosophy of language (<a href="/research/bibliography/philosophy-of-language/">bibliography</a>)</li>
  <li>David Lewis (<a href="/research/bibliography/david-lewis/">bibliography</a>)</li>
  <li>Ontic vagueness (<a href="/research/bibliography/ontic-vagueness/">bibliography</a>)</li>
  <li>Logic markup (<a href="/research/tools/logic.html">tools</a>)</li>
</ul>
