<h2>coursed taught</h2>
<ul><li>Philosophy department, Montclair State University</li>
<ul>
  <li><a href="/phil-intro/">Introduction to philosophy, fall 2015</a></li>
</ul>
<li>Philosophy department, Rutgers University</li>
<ul>
  <li><a href="/intro-logic/">Introduction to logic, spring 2015</a> (<a href="/teaching/ru201-s15/syllabus.pdf">syllabus</a>)</li>
  <li><a href="/teaching/ru101-f14/">Logic, reason, and persuassion, fall 2014</a> (<a href="/teaching/ru101f14-syllabus.pdf">syllabus</a>, <a href="/teaching/syllabus101f14.html">html syllabus</a>)</li>
  <li><a href="/teaching/ru107-s14/">Introduction to ethics, spring 2014</a> (<a href="/teaching/ru107s14-syllabus.pdf">syllabus</a>, <a href="/teaching/ru107s14-assessment.pdf">assessment</a>)</li>
  <li>Current moral and social issues, fall 2013 (<a href="/teaching/ru105f13-syllabus.pdf">syllabus</a>, <a href="/teaching/ru105f13-assessment.pdf">assessment</a>)</li>
  <li>Introduction to philosophy, spring 2012 (<a href="/teaching/ru103s12-syllabus.pdf">syllabus</a>, <a href="/teaching/ru103s12-assessment.pdf">assessment</a>)</li>
  <li>Introduction to philosophy, fall 2011 (<a href="/teaching/ru103f11-syllabus.pdf">syllabus</a>, <a href="/teaching/ru103f11-schedule.pdf">schedule</a>)</li>
</ul>
</ul>
