---
layout: child
---

<!--<link rel="stylesheet" href="/css/biblio.css">
<script type="text/javascript" src="/javascript/biblio.js"></script>
<script type="text/javascript" src="/javascript/fixdiv.js"></script>-->

<div id="content">

<div id="bibtitle">
<h2>{{ page.title }}</h2>

<!-- Search box -->
<!--<form action="" id="quicksearch">
<input type="text" id="qs_field" autocomplete="off" placeholder="Search entries..." /> <input type="button" onclick="clearQS()" value="clear" />
<span id="searchstat">Entries: <span id="stat">0</span></span>
<div id="showsettings" onclick="toggleSettings()">settings</div>

<div id="settings" class="hidden">
<span><input type="checkbox" class="search_setting" id="opt_searchAbs" onchange="updateSetting(this)"><label for="opt_searchAbs"> search abstracts</label></span>
<span><input type="checkbox" class="search_setting" id="opt_searchRev" onchange="updateSetting(this)"><label for="opt_searchRev"> search reviews</label></span>
<span><input type="checkbox" class="search_setting" id="opt_useRegExp" onchange="updateSetting(this)"><label for="opt_useRegExp"> use RegExp</label></span>
<span><input type="checkbox" class="search_setting" id="opt_noAccents" onchange="updateSetting(this)"><label for="opt_noAccents"> ignore accents</label></span>
</div>

</form>-->
</div>

<!-- Bibliography -->
<div id="bibtable">
<table id="{{ page.title | slugify | append: '-table' }}" class="qs_table" border="1">
<thead><tr>
  {% for attr in page.attrs %}
    <th id="{{attr}}">{{attr | capitalize}}</th>
  {% endfor %}
</tr></thead>
<tbody>

{{ content }}

</tbody>
</table>
</div>

 <small>Created by <a href="http://jabref.sourceforge.net">JabRef</a> on 05/10/2014.</small>
 </div>
